In [2]:
import os
import pandas as pd
import glob
import numpy as np


ds = pd.read_csv('combined_indicators.csv')
ds

C:\Users\motta\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
150560,Western Pacific,2010,Life expectancy at birth (years),Male,72.52,NaN,NaN,NaN,NaN,NaN
150561,Western Pacific,2010,Life expectancy at birth (years),Female,78.75,NaN,NaN,NaN,NaN,NaN
150562,Western Pacific,2000,Life expectancy at birth (years),Both sexes,72.42,NaN,NaN,NaN,NaN,NaN
150563,Western Pacific,2000,Life expectancy at birth (years),Male,69.8,NaN,NaN,NaN,NaN,NaN
150564,Western Pacific,2000,Life expectancy at birth (years),Female,75.33,NaN,NaN,NaN,NaN,NaN

In [3]:
ds =ds[ds.Dim1 != 'Male']
ds =ds[ds.Dim1 != 'Female']
ds.Dim1.value_counts()

Both sexes    38916
Name: Dim1, dtype: int64

In [39]:
ds.nunique()

Location                          207
Period                            142
Indicator                          36
Dim1                                1
First Tooltip                   47306
Dim2                                8
Hale Expectency                    24
Life expectany                     24
Unnamed: 6                         24
% OF HALE in life expectancy        4
dtype: int64

In [38]:
ds.Dim2.value_counts()

Total                                    7719
Urban                                    6381
Rural                                    5801
Chronic obstructive pulmonary disease     366
Ischaemic heart disease                   366
Stroke                                    366
Trachea, bronchus, lung cancers           366
Lower respiratory infections              366
Name: Dim2, dtype: int64

In [40]:
ds =ds[ds.Dim2 != 'Urban']
ds =ds[ds.Dim2 != 'Rural']
ds =ds[ds.Dim2 != 'Chronic obstructive pulmonary disease']
ds =ds[ds.Dim2 != 'Ischaemic heart disease']

ds =ds[ds.Dim2 != 'Stroke']
ds =ds[ds.Dim2 != 'Trachea, bronchus, lung cancers']
ds =ds[ds.Dim2 != 'Lower respiratory infections']

In [41]:
ds.nunique()

Location                          207
Period                            142
Indicator                          36
Dim1                                1
First Tooltip                   44547
Dim2                                1
Hale Expectency                    24
Life expectany                     24
Unnamed: 6                         24
% OF HALE in life expectancy        4
dtype: int64

In [4]:
ds.Period.value_counts()

2016    4389
2015    2791
2010    2574
2010    2383
2015    2358
        ...
1953      38
1952      37
1951      33
1950      31
1920       1
Name: Period, Length: 142, dtype: int64

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90449 entries, 0 to 150562
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      90449 non-null  object
 1   Period                        90449 non-null  object
 2   Indicator                     90449 non-null  object
 3   Dim1                          38916 non-null  object
 4   First Tooltip                 90401 non-null  object
 5   Dim2                          21731 non-null  object
 6   Hale Expectency               48 non-null     float64
 7   Life expectany                48 non-null     float64
 8   Unnamed: 6                    48 non-null     float64
 9   % OF HALE in life expectancy  48 non-null     float64
dtypes: float64(4), object(6)
memory usage: 7.6+ MB

In [8]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90449 entries, 0 to 150562
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      90449 non-null  object
 1   Period                        90449 non-null  object
 2   Indicator                     90449 non-null  object
 3   Dim1                          38916 non-null  object
 4   First Tooltip                 90401 non-null  object
 5   Dim2                          21731 non-null  object
 6   Hale Expectency               48 non-null     float64
 7   Life expectany                48 non-null     float64
 8   Unnamed: 6                    48 non-null     float64
 9   % OF HALE in life expectancy  48 non-null     float64
dtypes: float64(4), object(6)
memory usage: 7.6+ MB

In [9]:
ds.isnull().sum()

Location                            0
Period                              0
Indicator                           0
Dim1                            51533
First Tooltip                      48
Dim2                            68718
Hale Expectency                 90401
Life expectany                  90401
Unnamed: 6                      90401
% OF HALE in life expectancy    90401
dtype: int64

In [10]:
word = '-'
new_df = ds[~ds["Period"].str.contains(word, na=False)]

In [11]:
list = new_df.Period.unique()
list

array(['2016', '2015', '2010', '2005', '2000', '2017', '2014', '2013',
       '2011', '2009', '2008', '2007', '2006', '2003', '2012', '2004',
       '2002', '2001', '2018', '2019', '1999', '1998', '1997', '1996',
       '1995', '1994', '1993', '1992', '1991', '1990', '1989', '1988',
       '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980',
       '1979', '1978', '1977', '1976', '1975', '1974', '1973', '1972',
       '1971', '1970', '1969', '1968', '1967', '1966', '1965', '1964',
       '1963', '1962', '1961', '1960', '1959', '1958', '1957', '1956',
       '1955', '1954', '1953', '1952', '1951', '1950', 1975, 2019, 2018,
       2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
       1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985,
       1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1974, 1973,
       1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1920], dtype=object)

In [12]:
list = ds.Period.unique()
list

array(['2016', '2015', '2010', '2005', '2000', '2017', '2014', '2013',
       '2011', '2009', '2008', '2007', '2006', '2003', '2012', '2004',
       '2002', '2001', '2018', '2019', '2013-2017', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990',
       '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982',
       '1981', '1980', '1979', '1978', '1977', '1976', '1975', '1974',
       '1973', '1972', '1971', '1970', '1969', '1968', '1967', '1966',
       '1965', '1964', '1963', '1962', '1961', '1960', '1959', '1958',
       '1957', '1956', '1955', '1954', '1953', '1952', '1951', '1950',
       1975, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988,
       1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977,
       1976, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951, 1950, 1920], dtype=object)

In [13]:
new_df['Period']= pd.to_numeric(new_df['Period'])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90266 entries, 0 to 150562
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      90266 non-null  object
 1   Period                        90266 non-null  int64
 2   Indicator                     90266 non-null  object
 3   Dim1                          38916 non-null  object
 4   First Tooltip                 90218 non-null  object
 5   Dim2                          21731 non-null  object
 6   Hale Expectency               48 non-null     float64
 7   Life expectany                48 non-null     float64
 8   Unnamed: 6                    48 non-null     float64
 9   % OF HALE in life expectancy  48 non-null     float64
dtypes: float64(4), int64(1), object(5)
memory usage: 7.6+ MB

<ipython-input-13-fb5696619372>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Period']= pd.to_numeric(new_df['Period'])

In [14]:
new_df.sort_values(['Indicator', 'Period'], ascending = False)

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
120494,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62],NaN,NaN,NaN,NaN,NaN
120668,Albania,2019,Under-five mortality rate (probability of dyin...,Both sexes,9.68 [9.07-10.35],NaN,NaN,NaN,NaN,NaN
120794,Algeria,2019,Under-five mortality rate (probability of dyin...,Both sexes,23.26 [22.51-24.03],NaN,NaN,NaN,NaN,NaN
120992,Andorra,2019,Under-five mortality rate (probability of dyin...,Both sexes,2.97 [0.85-10.97],NaN,NaN,NaN,NaN,NaN
121097,Angola,2019,Under-five mortality rate (probability of dyin...,Both sexes,74.69 [34.55-139.3],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4882,Uzbekistan,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,21.1,NaN,NaN,NaN,NaN,NaN
4898,Venezuela (Bolivarian Republic of),2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,93.3,NaN,NaN,NaN,NaN,NaN
4912,Viet Nam,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,24.0,NaN,NaN,NaN,NaN,NaN
4917,Yemen,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,83.0,NaN,NaN,NaN,NaN,NaN
4923,Zambia,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,160.4,NaN,NaN,NaN,NaN,NaN

In [15]:
ds1 = (new_df.sort_values(['Indicator', 'Period'], ascending = False)
         .drop_duplicates(['Indicator', 'Location'], keep='first'))

#ds1.sort_values(['Indicator', 'Period'], ascending = False)
ds1.shape

(6123, 10)

In [16]:
ds1.sample(50)

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
16257,CÃ´te dâ€™Ivoire,2017,Population using at least basic sanitation ser...,NaN,32.13,Total,NaN,NaN,NaN,NaN
104310,Burundi,2017,"Nursing and midwifery personnel (per 10,000)",NaN,8.53,NaN,NaN,NaN,NaN,NaN
47733,Nepal,2019,Incidence of tuberculosis (per 100 000 populat...,NaN,238 [141-359],NaN,NaN,NaN,NaN,NaN
5981,Cameroon,2016,Ambient and household air pollution attributab...,Both sexes,208.1 [182-231.1],Total,NaN,NaN,NaN,NaN
107485,Kyrgyzstan,2014,"Pharmacists (per 10,000)",NaN,0.41,NaN,NaN,NaN,NaN,NaN
44008,Gabon,2018,Malaria incidence (per 1 000 population at risk),NaN,248.2,NaN,NaN,NaN,NaN,NaN
79905,Indonesia,2018,Reported number of people requiring interventi...,NaN,101000000,NaN,NaN,NaN,NaN,NaN
41755,Indonesia,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,62.83,NaN,NaN,NaN,NaN,NaN
80787,Turkey,2018,Reported number of people requiring interventi...,NaN,0,NaN,NaN,NaN,NaN,NaN
34539,Slovenia,2018,Proportion of population with primary reliance...,NaN,95,NaN,NaN,NaN,NaN,NaN
120208,Croatia,2017,UHC index of essential service coverage,NaN,71,NaN,NaN,NaN,NaN,NaN
94484,Djibouti,2019,Neonatal mortality rate (per 1000 live births),Both sexes,30.51 [17.47-52.02],NaN,NaN,NaN,NaN,NaN
35463,Belize,2016,Crude suicide rates (per 100 000 population),Both sexes,0.0,NaN,NaN,NaN,NaN,NaN
13868,Sri Lanka,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,4.1,NaN,NaN,NaN,NaN,NaN
88645,Thailand,2018,"Medical doctors (per 10,000)",NaN,8.05,NaN,NaN,NaN,NaN,NaN
47178,Kyrgyzstan,2019,Incidence of tuberculosis (per 100 000 populat...,NaN,110 [94-127],NaN,NaN,NaN,NaN,NaN
124544,Brunei Darussalam,2019,Under-five mortality rate (probability of dyin...,Both sexes,11.42 [10.12-12.87],NaN,NaN,NaN,NaN,NaN
113420,Ecuador,2017,Population using safely managed sanitation ser...,NaN,42.01,Total,NaN,NaN,NaN,NaN
112245,Samoa,2014,Married or in-union women of reproductive age ...,NaN,39.4,NaN,NaN,NaN,NaN,NaN
91622,Viet Nam,2016,Mortality rate attributed to unintentional poi...,Both sexes,0.92,NaN,NaN,NaN,NaN,NaN
48855,Turkey,2019,Incidence of tuberculosis (per 100 000 populat...,NaN,16 [13-18],NaN,NaN,NaN,NaN,NaN
101846,Chile,2019,New HIV infections (per 1000 uninfected popula...,Both sexes,0.27 [0.21-0.33],NaN,NaN,NaN,NaN,NaN
108986,India,2011,Population with household expenditures on heal...,NaN,17.33,Total,NaN,NaN,NaN,NaN
28398,Iraq,2017,Population with basic handwashing facilities a...,NaN,94.58,Total,NaN,NaN,NaN,NaN
32164,Cameroon,2018,Proportion of population with primary reliance...,NaN,24,NaN,NaN,NaN,NaN,NaN
81012,Armenia,2019,Life expectancy at birth (years),Both sexes,76.03,NaN,NaN,NaN,NaN,NaN
5330,Bahrain,2016,Ambient and household air pollution attributab...,Both sexes,15.32 [13.74-17],Total,NaN,NaN,NaN,NaN
915,Gambia,2016,Probability (%) of dying between age 30 and ex...,Both sexes,20.4,NaN,NaN,NaN,NaN,NaN
98963,Republic of Moldova,2019,Neonatal mortality rate (per 1000 live births),Both sexes,10.66 [7.7-14.65],NaN,NaN,NaN,NaN,NaN
5729,Brazil,2016,Ambient and household air pollution attributab...,Both sexes,29.87 [23.6-39.31],Total,NaN,NaN,NaN,NaN
93509,Burundi,2019,Neonatal mortality rate (per 1000 live births),Both sexes,20.97 [13.58-32.29],NaN,NaN,NaN,NaN,NaN
16575,Democratic Republic of the Congo,2017,Population using at least basic sanitation ser...,NaN,20.46,Total,NaN,NaN,NaN,NaN
112326,Eswatini,2016,Estimated road traffic death rate (per 100 000...,NaN,26.9,NaN,NaN,NaN,NaN,NaN
13724,Serbia,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,8.75,NaN,NaN,NaN,NaN,NaN
11378,Viet Nam,2016,Ambient and household air pollution attributab...,Both sexes,65.14 [55.28-75.81],Total,NaN,NaN,NaN,NaN
89342,Cabo Verde,2016,Mortality rate attributed to unintentional poi...,Both sexes,0.51,NaN,NaN,NaN,NaN,NaN
27912,Ecuador,2017,Population with basic handwashing facilities a...,NaN,80.63,Total,NaN,NaN,NaN,NaN
90092,Iran (Islamic Republic of),2016,Mortality rate attributed to unintentional poi...,Both sexes,1.2,NaN,NaN,NaN,NaN,NaN
5690,Botswana,2016,Ambient and household air pollution attributab...,Both sexes,52.99 [42.03-64.12],Total,NaN,NaN,NaN,NaN
110251,Zambia,2010,Population with household expenditures on heal...,NaN,0.29,Total,NaN,NaN,NaN,NaN
30717,Ireland,2016,Births attended by skilled health personnel (%),NaN,99.7,NaN,NaN,NaN,NaN,NaN
105784,Republic of Korea,2018,"Nursing and midwifery personnel (per 10,000)",NaN,73.01,NaN,NaN,NaN,NaN,NaN
116699,Cambodia,2018,Age-standardized prevalence of current tobacco...,Both sexes,21.8,NaN,NaN,NaN,NaN,NaN
89387,Canada,2016,Mortality rate attributed to unintentional poi...,Both sexes,0.3,NaN,NaN,NaN,NaN,NaN
24879,Ghana,2017,Population using at least basic drinking-water...,NaN,67.54,NaN,NaN,NaN,NaN,NaN
112425,Suriname,2016,Estimated road traffic death rate (per 100 000...,NaN,14.5,NaN,NaN,NaN,NaN,NaN
45498,Australia,2019,Incidence of tuberculosis (per 100 000 populat...,NaN,6.9 [5.9-7.9],NaN,NaN,NaN,NaN,NaN
88892,Venezuela (Bolivarian Republic of),2001,"Medical doctors (per 10,000)",NaN,19.48,NaN,NaN,NaN,NaN,NaN
91142,Slovakia,2016,Mortality rate attributed to unintentional poi...,Both sexes,0.36,NaN,NaN,NaN,NaN,NaN
42895,United Arab Emirates,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,65.99,NaN,NaN,NaN,NaN,NaN

In [18]:
ds1 =ds1[ds1['First Tooltip'] != 'No data']

In [20]:
word = '<'
ds1 = ds1[~ds1["First Tooltip"].str.contains(word, na=False)]

ds1.shape

(6066, 10)

In [21]:
# cleaning out numbers that have values between brackets
ds1['First Tooltip'] = ds1['First Tooltip'].str.split('[', 1).str[0].str.strip()
ds1['First Tooltip'] = pd.to_numeric(ds1['First Tooltip'])

In [22]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6066 entries, 120494 to 3339
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      6066 non-null   object
 1   Period                        6066 non-null   int64
 2   Indicator                     6066 non-null   object
 3   Dim1                          2484 non-null   object
 4   First Tooltip                 6060 non-null   float64
 5   Dim2                          1064 non-null   object
 6   Hale Expectency               6 non-null      float64
 7   Life expectany                6 non-null      float64
 8   Unnamed: 6                    6 non-null      float64
 9   % OF HALE in life expectancy  6 non-null      float64
dtypes: float64(5), int64(1), object(4)
memory usage: 521.3+ KB

In [23]:
ds1.nunique()

Location                         207
Period                            29
Indicator                         35
Dim1                               1
First Tooltip                   3243
Dim2                               3
Hale Expectency                    6
Life expectany                     6
Unnamed: 6                         6
% OF HALE in life expectancy       3
dtype: int64

In [27]:
ds1['% OF HALE in life expectancy'].value_counts()

87.0    3
86.0    2
88.0    1
Name: % OF HALE in life expectancy, dtype: int64

In [28]:
ds2 = ds1[['Location' , 'Period' , 'Indicator' , 'First Tooltip']]

In [29]:
ds3 = ds2[ds2['First Tooltip'].notna()]
ds3.nunique()

Location          207
Period             29
Indicator          35
First Tooltip    3243
dtype: int64

In [30]:
ds4 = ds3.dropna(how='any')

In [31]:
ds4.nunique()

Location          207
Period             29
Indicator          35
First Tooltip    3243
dtype: int64

In [32]:
ds5 = ds4.pivot_table(columns='Indicator', index='Location', values='First Tooltip').reset_index()

In [34]:
ds6 = ds5.dropna(axis = 0, how='any')
    
ds6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 9 to 158
Data columns (total 36 columns):
 #   Column                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                         --------------  -----
 0   Location                                                                                                                                       12 non-null     object
 1   Adolescent birth rate (per 1000 women aged 15-19 years)                                                                                        12 non-null     float64
 2   Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older                                                   12 non-null     float64
 3   Ambient and household air pollution attributable death rate (per 100 000 population)                                                           12 non-null     float64
 4   Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)                                         12 non-null     float64
 5   Births attended by skilled health personnel (%)                                                                                                12 non-null     float64
 6   Crude suicide rates (per 100 000 population)                                                                                                   12 non-null     float64
 7   Dentists (per 10,000)                                                                                                                          12 non-null     float64
 8   Estimated road traffic death rate (per 100 000 population)                                                                                     12 non-null     float64
 9   Healthy life expectancy (HALE) at birth (years)                                                                                                12 non-null     float64
 10  Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%)                                                                12 non-null     float64
 11  Incidence of tuberculosis (per 100 000 population per year)                                                                                    12 non-null     float64
 12  Infant mortality rate (probability of dying between birth and age 1 per 1000 live births)                                                      12 non-null     float64
 13  Life expectancy at birth (years)                                                                                                               12 non-null     float64
 14  Malaria incidence (per 1 000 population at risk)                                                                                               12 non-null     float64
 15  Married or in-union women of reproductive age who have their need for family planning satisfied with modern methods (%)                        12 non-null     float64
 16  Maternal mortality ratio (per 100 000 live births)                                                                                             12 non-null     float64
 17  Medical doctors (per 10,000)                                                                                                                   12 non-null     float64
 18  Mortality rate attributed to exposure to unsafe WASH services (per 100 000 population) (SDG 3.9.2)                                             12 non-null     float64
 19  Mortality rate attributed to unintentional poisoning (per 100 000 population)                                                                  12 non-null     float64
 20  Neonatal mortality rate (per 1000 live births)                                                                                                 12 non-null     float64
 21  New HIV infections (per 1000 uninfected population)                                                                                            12 non-null     float64
 22  Nursing and midwifery personnel (per 10,000)                                                                                                   12 non-null     float64
 23  Pharmacists  (per 10,000)                                                                                                                      12 non-null     float64
 24  Population using at least basic drinking-water services (%)                                                                                    12 non-null     float64
 25  Population using at least basic sanitation services (%)                                                                                        12 non-null     float64
 26  Population using safely managed sanitation services (%)                                                                                        12 non-null     float64
 27  Population with basic handwashing facilities at home (%)                                                                                       12 non-null     float64
 28  Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%)                     12 non-null     float64
 29  Population with household expenditures on health greater than 25% of total household expenditure or income  ( SDG indicator 3.8.2) (%)         12 non-null     float64
 30  Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease  12 non-null     float64
 31  Proportion of population with primary reliance on clean fuels and technologies (%)                                                             12 non-null     float64
 32  Reported number of people requiring interventions against NTDs                                                                                 12 non-null     float64
 33  Total (recorded+unrecorded) alcohol per capita (15+) consumption                                                                               12 non-null     float64
 34  UHC index of essential service coverage                                                                                                        12 non-null     float64
 35  Under-five mortality rate (probability of dying by age 5 per 1000 live births)                                                                 12 non-null     float64
dtypes: float64(35), object(1)
memory usage: 3.5+ KB

In [37]:
ds6.to_csv('WHO Data for PCA.csv', index=False)